//@import "normalize.css";
@import "sanitize.css";
@import "fontface";
@import "rsuite/dist/rsuite-no-reset.min.css";
@import "react-dadata/dist/react-dadata.css";
@import 'react-photo-view/dist/react-photo-view.css';

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.calendar-todo-list {
  font-size: 0.8rem;
}